.search-form{
  position: fixed;
  top: 65px;
  max-width: 1040px;
  display: flex;
  flex-direction: column;

  &__bar{
    display: flex;

  }

  &__filter{
    display: flex;
    color: white;
    justify-content: space-around;
  }
}