
// Color
$gray: #999999;
$dark-gray: #333333;
$bg-primary:   #1b2845;
$bg-secundary:   #274060;
$border-color: #dddddd;

$primary-color: $bg-primary;

$bg-primary-gradient: linear-gradient(315deg, #1b2845 0%, #274060 74%);



// Font
$primary-font: 'Lato', sans-serif;

// Typography
$body-font-family: $primary-font;
$body-font-size: 14px;
$body-color: $dark-gray;

// Input
$input-height: 40px;
$icon-size: 35px;

// Button
$button-height: $input-height;


.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.flex{display: flex;}

.flex-align-center {
  align-items: center;
}

.w-full{
  width: 100%;
}

.p-0{
  padding: 0;
}
.p-10{
  padding: 10px;
}
.px-10{
  padding: 0 10px;
}
.m-10{
  margin: 10px;
}

.m-20{
  margin: 20px;
}

.text-center{
  text-align: center;
}