
.button {
  &-form{
    cursor: pointer;
    background-color: $primary-color;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 1px;
    height: $button-height;
    transition: 300ms scale ease-in-out;
    &:active {
      transform: scale(1.1);
    }
    &:hover {
      background-color: darken($primary-color, 3%)
    }
  }

  &-min-width{
    min-width: 40px;
  }

  &-bg-none{
    border: none;
    background: none;
    cursor: pointer;
  }

  &-icon{
    color: white;
    font-size: $icon-size;
    text-align: center;
  }
}


